body {
    background-color: white;
    background-size: cover;
    font-family: 'Arial';
    color: black;

}
h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 15pt;
    color: black;
    text-shadow: 2px 2px 4px black;
}
h3 {
    font-style: italic;
    font-size: 10pt;
    margin-top: -10px;
    color: black;
}
p {
    font-size: 10pt;
    color: black;
    display: block;
    
}
.border {
    border: 1px solid black;
    border-radius: 10px;
    background-color: ;
    padding: 30px;
    margin: 10px;
    margin-top: 20px;

}

label {
    font-size: 13pt;
    display: block;
    color: black;
    font-weight: bold;
}
input[type=email] {
    background: transparent;
    color: black;
    width: 97%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;

}
input[type=text] {
    background: transparent;
    color: black;
    width: 97%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;

}
input[type=number] {
    color: cyan;
    width: 97%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=submit] {
    background: transparent;
    display: inline-block;
    width: 100px;
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: rgb(169, 247, 130);
}
input[type=reset] {
    background: transparent;
    display: inline-block;
    width: 100px;
    color: red;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
input[type=reset]:hover {
    background-color: red;
}
.button-sec {
    margin-top: 10px;
}
.cr {
    font-weight: lighter;
    text-decoration: none   ;
    color: cyan;
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    margin-top: 20px;
}
.cr, a{
    font-weight: bold;
    color: cyan;
}